[Unit]
Description = Prefills 'kitty-launch' in terminal application launcher

[Service]
Type=simple
# To use this service, copy your statedir from your kittylauncherrc to
# the line below as a full directory path, and then uncomment it.
# Environment="statedir=/HERE"
ExecStart=/lib/kittylauncher/prefill.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
